#meu-form {
  width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#meu-form div {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#meu-form input, #meu-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
  text-align: center;
}

#meu-form .action-button {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  text-align: center;
}

#meu-form .action-button:hover {
  color: white;
  background-color: #42545C;
}

#meu-form .action-button:active {
  background-color: black;
}

#meu-form #div-filter input {
  padding: 15px;
  width: 50%;
}

#meu-form #div-filter input.action-button {
  width: 20%;
  margin: 0 10px;
}

#meu-form input[type=number] {
  -moz-appearance: textfield;
}

#meu-form input::-webkit-outer-spin-button,
#meu-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
